:root {
  --background-color: #07091d;
  --background-section-color: #0b0e29;
  --burger-color: #0b0f2f;
  --svg-color: #3f50fd;
  --button-color: #3f50fd;
  --border-color: rgba(61, 77, 237, 0.4);
  --primary-text-color: #d9dbf9;
  --accent-color: #d02b2b;
  --primary-white-color: #ffffff;
}
