.games {
  padding: 60px 0;
  background: var(--background-section-color);
  overflow-x: hidden;
}
.container {
}
.games__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.games__container-swipe {
  position: relative;
  top: 0;
  left: calc(50% - 172px);
  min-width: 345px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
.games__swipe {
  display: flex;
  width: 585px;
  margin-top: 16px;
  margin-bottom: 40px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.swipe__link {
  display: block;
  margin-right: 6px;
  padding: 12px 0;
  text-align: center;
  width: 140px;
  height: 40px;
  background: #1a1f48;
  box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 114%;
  color: var(--primary-white-color);
  scroll-snap-align: start;
  &:hover,
  &:focus {
    background: #1e2460;
    border: 1px solid #5f6dff;
  }
}
.games__list {
  display: flex;
  flex-wrap: wrap;
}
.games__item {
  position: relative;
  width: 164px;
  min-height: 185px;
  margin-bottom: 24px;

  &:nth-child(2n) {
    margin-left: 17px;
  }
  &:nth-child(n + 9) {
    margin-bottom: 0;
  }
}
.games__item-img {
  border-radius: 8px;
}
.games__item-title {
  margin-top: 17px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
}
.games__item-subtitle {
}
.games__link {
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 56px;
  padding: 12px 0;
  width: 345px;
  height: 48px;
  background: var(--buttom-color);
  border: 4px solid var(--border-color);
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
.games__pagination {
  display: flex;
}

.games__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background: #1a1f48;
  border-radius: 6px;
  &.prev {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-right: 7px;
  }
}
.games__button-svg {
  width: 12px;
  height: 8px;
}
.gsmes__pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 22px;
  height: 22px;
  background: #1a1f48;
  border-radius: 6px;
  &:hover,
  &:active,
  &:focus {
    background: var(--button-color);
  }
}
.pagination-item__number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.games__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  transition: all 0.3s ease-in-out;
}
.item-hover-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 35px;
  background: var(--svg-color);
  border: 4px solid rgba(61, 77, 237, 0.4);
  border-radius: 10px;
  .bonus__button-svg {
  }
  .bonus__button-text {
  }
}

.games__item {
  &:hover > .games__item-hover,
  &:focus > .games__item-hover {
    z-index: 1;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .games {
    padding: 80px 0;
  }
  .games__container-swipe {
    position: static;
    max-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .games__swipe {
    margin-top: 24px;
    margin-bottom: 32px;

    .swipe__link {
      margin-right: 20px;
    }
  }

  .games__item {
    width: 226px;
    min-height: 223px;
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 30px;
    &:nth-child(2n) {
      margin-left: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(n + 9) {
      margin-bottom: 0;
    }

    .games__item-img {
      width: 226px;
      height: 174px;
    }
  }

  .games_nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .games__link {
      margin-top: 52px;
      margin-bottom: 76px;
    }

    .gsmes__pagination-item {
      margin-right: 16px;
      width: 30px;
      height: 30px;
    }
    .games__button {
      width: 30px;
      height: 30px;
      &.prev {
        margin-right: 16px;
      }
    }
  }
  .games__item-hover {
    height: 174px;
  }
  .item-hover-link {
    width: 140px;
    height: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .games {
    padding: 80px 0;
  }
  .games__container-swipe {
    position: static;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .games__swipe {
    margin-top: 24px;
    margin-bottom: 32px;

    .swipe__link {
      margin-right: 20px;
    }
  }

  .games__item {
    width: 226px;
    min-height: 223px;
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 12px;
    &:nth-child(2n) {
      margin-left: 0;
    }
    &:nth-child(5n + 5) {
      margin-right: 0;
    }
    &:nth-child(3n) {
      margin-right: 12px;
    }
    &:nth-child(n + 9) {
      margin-bottom: 0;
    }

    .games__item-img {
      width: 226px;
      height: 174px;
    }
  }

  .games_nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .games__link {
      margin-top: 52px;
      margin-bottom: 76px;
      width: 255px;
      height: 48px;
      background: #3f50fd;
      border: 4px solid rgba(61, 77, 237, 0.4);
      border-radius: 10px;
    }

    .gsmes__pagination-item {
      margin-right: 16px;
      width: 30px;
      height: 30px;
    }
    .games__button {
      width: 30px;
      height: 30px;
      &.prev {
        margin-right: 16px;
      }
    }
  }
}
