.burger-menu_button {
  position: absolute;
  top: 16px;
  right: 15px;
  z-index: 1000;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 24px;
  height: 2.5px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
}
.burger-menu_lines::before {
  content: "";
  top: -10px;
  left: 0;
  height: 2.5px;
}
.burger-menu_lines::after {
  content: "";
  top: 10px;
  left: 0;
  height: 2.5px;
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  box-sizing: border-box;
  position: absolute;
  top: 56px;
  right: -100%;
  z-index: 10;
  display: flex;
  flex-flow: column;
  width: 0%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--burger-color);
  overflow-y: auto;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  &::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
  }
}
.burger-menu_active ~ .burger-menu_nav {
  position: absolute;
  right: 50%;
  transform: translate(50%);
  width: 200%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  &::-webkit-scrollbar {
    display: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
  }
}
@media screen and (min-width: 768px) {
  .burger-menu_button {
    top: 16px;
  }
  .burger-menu_active .burger-menu_nav {
    width: 1580px;
    height: 1580px;
  }
  .burger-menu_lines {
  }
  .burger-menu_nav {
  }
  .burger-menu_link {
  }
}
@media screen and (min-width: 1200px) {
  .nav__burger-menu {
    display: none;
  }
  .burger-menu_button {
    top: 16px;
    right: 0;
    display: none;
  }
  .burger-menu_active .burger-menu_nav {
    width: 1580px;
    height: 1580px;
  }
  .burger-menu_lines {
  }
  .burger-menu_nav {
    position: static;
    display: flex;
    margin-left: 194px;
    width: 759px;
    text-align: center;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: start;
    background-color: transparent;

    label ~ ul {
      display: flex;
      width: 404px;
      height: 100%;
    }
  }
  .burger-menu_link {
    display: flex;
    position: relative;
    z-index: 11;
    margin-bottom: 0;
    height: 100%;
    margin-left: 32px;

    a {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      &:hover {
        color: #5f6dff;
      }
    }
    &:first-child {
      margin: 0;
    }
  }
}
