.footer {
  padding: 24px 0;
  background: var(--background-section-color);
}

.footer__logo {
  width: 179px;
  height: auto;
}
.footer__list {
  margin: 24px 0 32px;
}
.footer__item {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  &:last-child {
    margin: 0;
  }

  a {
    &:hover {
      color: #5f6dff;
    }
  }
}
.footer__sponsors {
  width: 287px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 25px 0 32px;

    .footer__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 27px;
      .footer__list {
        display: flex;
        align-items: center;
        margin: 0;
        .footer__item {
          margin: 0 0 0 55px;
        }
      }
    }
    .footer__sponsors {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 25px;
    .container {
      display: flex;
    }

    .footer__container {
      margin: 0;

      .footer__logo {
        width: 179px;
        height: 19px;
      }
      .footer__list {
        margin-left: 121px;
        margin-right: 124px;
        .footer__item {
          margin: 0 0 0 55px;
          &:first-child {
            margin: 0;
          }
          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
    .footer__sponsors {
      margin: 0;
    }
  }
}
