nav {
  // position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 15px 0;
  width: 345px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 164px;
  height: 16px;
}
.nav__item {
  display: none;
}

.language__menu {
  position: relative;
  margin-right: 79px;
  // margin-left: 72px;
  width: 45px;
  height: 24px;
  .language {
    position: absolute;
    width: 114px;
    min-height: 168px;
    padding: 24px 16px;
    top: 56px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    background: var(--burger-color);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  &.language__menu_active .language {
    z-index: 10;
    opacity: 1;
    overflow: visible;
  }
}
.language__menu-button {
  display: flex;
  align-items: center;
}

.menu-butto__svg {
  margin-left: 8px;
  fill: #3f50fd;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.language__menu_active .menu-butto__svg {
  transform: rotate(180deg);
  fill: var(--primary-white-color);
}
.language__list {
  margin-bottom: 16px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-white-color);
  a {
    display: flex;
    align-items: center;
  }
  &.active {
    padding: 8px;
    background: #1f255c;
    border-radius: 100px;
  }
}
.language__img {
  margin-right: 8px;
}
.burger-menu_nav {
  label ~ ul {
    text-align: start;
    width: 345px;
    height: 550px;
  }

  .menu_nav-label {
    box-sizing: border-box;
    position: relative;
    margin-top: 24px;
    margin-bottom: 40px;
    width: 345px;
  }
}

.nav__search {
  box-sizing: border-box;
  padding: 16px 40px 16px 16px;
  width: 345px;
  height: 50px;
  left: 15px;
  top: 80px;
  background: #222438;
  border: 1px solid #535677;
  border-radius: 6px;

  color: #aeb1cd;
}
.nav__button {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #222438;
  border: none;
}
.nav__button-svg {
  width: 18px;
  height: 18px;
  fill: #aeb1cd;
}
.burger-menu_link {
  margin-bottom: 40px;
  min-height: 20px;
  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    &:hover {
      color: #5f6dff;
    }
  }
}
.burger-menu_link-svg {
  margin-left: 8px;
  width: 13px;
  height: 8px;
  fill: var(--svg-color);
  transition: transform 0.3s ease-in-out;
  transform: translate(0deg);
  &:hover,
  &:focus {
    transform: rotate(180deg);
    fill: var(--primary-white-color);
  }
}
.menu-link__subitem {
  margin-left: 16px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out;
}

.burger-menu_link {
  a:hover {
    color: #5f6dff;
  }
  &.providers:hover .menu-link__subitem,
  &.providers:focus .menu-link__subitem {
    margin-top: 16px;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  &:hover .burger-menu_link-svg,
  &:focus .burger-menu_link-svg {
    transform: rotate(180deg);
    fill: var(--primary-white-color);
  }
  &.types:hover .menu-link__subitem,
  &.types:focus .menu-link__subitem {
    margin-top: 16px;
    height: 100%;
    opacity: 1;
    visibility: visible;
    &:hover .burger-menu_link-svg,
    &:focus .burger-menu_link-svg {
      transform: rotate(180deg);
      fill: var(--primary-white-color);
    }
  }
}
.subitem__list {
  margin-top: 24px;
  &:first-child {
    margin: 0;
  }
}
.subitem__list-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #d9dbf9;
  text-decoration-line: none;
  &:hover {
    text-decoration-line: underline;
    color: #5f6dff;
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 738px;
    justify-content: space-between;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .language__menu {
    margin-right: 64px;
  }
  // .menu-container{}
}
@media screen and (min-width: 1200px) {
  nav {
    width: 1178px;
    padding: 24px 0;
    justify-content: start;
  }
  .menu-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .logo {
    margin-top: 0;
    width: 179px;
    height: auto;
  }

  .language__menu {
    margin: 0;
  }
  .burger-menu_nav .menu_nav-label {
    position: relative;
    margin: 0 55px 0 41px;
    width: 259px;
    height: 50px;
  }
  .nav__search {
    width: 259px;
    height: 50px;
  }
  .menu-link__subitem {
    position: fixed;
    top: 0;
    z-index: -1;
    margin: 0;
    background-color: transparent;
  }
  .menu-link__subitem-item {
    margin-top: 35px;
    width: 275px;
    height: 255px;

    padding: 24px;
    background: #11153a;
    border-radius: 10px;
  }

  .burger-menu_link.providers:hover .menu-link__subitem,
  .burger-menu_link.providers:focus .menu-link__subitem {
    margin-top: 55px;
    height: 255px;
    opacity: 1;
    z-index: 1;
    opacity: 1;
    overflow: visible;
  }

  .burger-menu_link.types:hover .menu-link__subitem,
  .burger-menu_link.types:focus .menu-link__subitem {
    margin-top: 55px;
    height: 255px;
    opacity: 1;
    z-index: 1;
    opacity: 1;
    overflow: visible;
  }
}
